extends layout

block content
  .container
    h1.text-center(style="margin-bottom: 20px;") #{contact.firstName + ' ' + contact.lastName}

    table(style="width: 100%; margin-top: 20px;")
      tr
        th(style="text-align: left;") Email
        th(style="text-align: left;") Notes
        th(style="text-align: left;") Created
        th(style="text-align: left;") Last Edited

      tr
        td(style="text-align: left;") #{contact.email}
        td(style="text-align: left;") #{contact.notes ? contact.notes : 'No notes available'}
        td(style="text-align: left;") #{contact.createdFormatted}
        td(style="text-align: left;") #{contact.lastEditedFormatted}

    .contact-actions(style="margin-top: 20px; padding: 10px")
      a(href=`/contacts/${contact.id}/edit`, class="btn btn-primary", style="margin-bottom: 20px;") Edit
      br

      form(method='POST', action=`/contacts/${contact.id}?_method=DELETE`)
        button(type='submit', class="btn btn-danger", style="margin-bottom: 20px;") Delete
      br

      a(href='/contacts', class="btn btn-back", style="margin-bottom: 20px;") Back to Contacts
